@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-raleway: "Raleway", sans-serif;

  --color-sage-green: #8f9779
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: var(--color-sage-green);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
